/* Propiedades de la caja del cuerpo */
body {
    padding: 100px;  /* relleno */
    margin: 30px;  /* Margen */
    border: solid;
    border-color: red;
  }
  
  /*  Propiedades de la caja del párrafo */
  p {
    margin: 10px;
    padding: 10px; /* Relleno */
    border:solid;
    border-color: green;
  }