/* Programa en CSS que define el estilo del programa HTML. */

/* Damos estilo al cuerpo. */
body {
    background-color: burlywood;
    color: blue;
}

h1 {
    background-color: whitesmoke;
    color: red;
}

p {
    background-color: silver;
    color: black;
}