//-- Contenido de la Sección Contacto del Comercio Electrónico MAD Services.
extends ../../base.pug

block title
  title='MAD Services: Contacto'

block body
  include ./componentes/cabecera.pug
  div.interfazContacto
    br
    br
    div.row
      div.column
        h1='Contacto general'
        br
        br
        br
        br
        img(src='/images/contacto.png' alt='contacto')
        br
        br
        br
        br
        label='Correo electrónico: '
        span='madservices.co@gmail.com'
    br
    br
  include ./componentes/piepagina.pug