//-- TFG de Alejandro Fernández Pérez: Parte FrontEnd.
//-- Archivo Visual Estático Base de MAD Services.
html(lang="es")
  //-- Pestaña del Navegador del Comercio Electrónico.
  head
    //-- Codificación del Comercio Electrónico.
    meta(charset="utf-8")
    //-- Configuración del Favicon genérico del Comercio Electrónico.
    link(rel="icon" sizes='16x16 32x32 48x48 64x64' href="/favicon.ico")
    //-- Configuración y ajustes generales del Comercio Electrónico.
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0")
    //-- Configuración de la descripción del Comercio Electrónico.
    meta(name="description" content="El E-Commerce de los E-Commerces")
    //-- Otras configuraciones.
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //-- Configuración del cambio de imágenes.
    script(src="/javascripts/cambioImagenes.js" defer)
    //-- Configuración de los Canvas 2D.
    script(src="/javascripts/marcaMAD.js" defer)
    script(src="/javascripts/multiMarca.js" defer)
    //-- Configuración de los iconos.
    script(src="https://kit.fontawesome.com/d232ed2b98.js" crossorigin="anonymous")
    //-- Configuración de las fuentes de escritura del Comercio Electrónico.
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel='stylesheet' href='/stylesheets/style.css')
    //-- Título de la Pestaña del Navegador del Comercio Electrónico.
    block title
  body
    block body