//-- Contenido para autorizar con contrase침a a los Miembros MAD para crearlos en MAD Services.
extends ../../base.pug

block title
    title='Autorizaci칩n para Miembros MAD'

block body
    form.formularioAuthMiembroMAD(method='POST' action='/registrarse/autorizar')
        label='Contrase침a MAD:'
        br
        input.entradasAutorizadas(type="password" name='password' placeholder='Escribe la contrase침a MAD....')
        button.btnAutorizado='Acceso MAD'
    form.formularioBtn1MiembroMAD(method='GET' action='/')
        button
            i.fa-solid.fa-house.fa-2xl#iconosAuth
    form.formularioBtn2MiembroMAD(method='GET' action='/registrarse')
        button
            i.fa-solid.fa-circle-left.fa-2xl#iconosAuth