/* Diseño del icono o favicon de la pestaña de la pag HTML. */
#icon {
    width: 118px;
    height: 114px;
}
/* Diseño del fondo de la P4 con una imagen. */
body {
    background-image: url('Fondo.png');
    background-size: cover;
    position: absolute;
    height: 1800px;
}
/* Diseño del título del procesado de imágenes. */
h1 {
    text-align: center;
    font: bold 40px Tahoma;
    margin: 180px;
    color: black;
    margin-bottom: 40px;
    margin-top: 80px;
    padding: 18px;
    border-radius: 28px;
    background-color: whitesmoke;
}
/* Diseño del título de la imagen A. */
#titleA {
    text-align: center;
    font: bold 22px Tahoma;
    margin-top: 30px;
    color: yellow;
    margin-left: 110px;
}
/* Diseño del título de la imagen B. */
#titleB {
    text-align: center;
    font: bold 22px Tahoma;
    margin-top: 30px;
    color: black;
    margin-left: 110px;
}
/* Diseño de la imagen A. */
#imgA {
    display:block;
    margin:auto;
    margin-left: 110px;
}
/* Diseño de la imagen B. */
#imgB {
    display:block;
    margin:auto;
    margin-left: 110px;
}
/* Diseño de la explicación de elegir 1 de 2 imágenes. */
#explain {
    text-align: center;
    font: bold 20px Tahoma;
    margin-top: 30px;
    color: white;
    margin-left: -500px;
}
/* Diseño del botón elección imagen A. */
#butA {
    background-color: orange;
    color: black;
    text-align: center;
    font: bold 17px Tahoma;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    margin-left: -120px;
}
/* Diseño del botón elección imagen B. */
#butB {
    background-color: orange;
    color: black;
    text-align: center;
    font: bold 17px Tahoma;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    margin-left: 50px;
}
/* Diseño del título de la imagen manipulada. */
#titleManip {
    text-align: center;
    font: bold 24px Tahoma;
    margin:auto;
    color: snow;
    margin-bottom: 30px;
    margin-top: 60px;
    padding: 15px;
    border-radius: 28px;
    background-color: #e30052;
    margin-left: -250px;
    margin-right: 250px;
}
/* Diseño del canvas de la imagen manipulada. */
#canvasManip {
    /* Para centrar el canvas. */
    margin-left: -190px;
    margin-top: 40px;
    display: block;
}
/* Diseño de la explicación de los ajustes. */
#ajustes {
    text-align: center;
    font: bold 20px Tahoma;
    margin-top: 60px;
    color: black;
    margin-left: 370px;
    margin-right: -370px;
}
/* Diseño de los 3 botones: escala de grises, color RGB y botón a Inicio. */
#grayBut {
    background-color: orange;
    color: black;
    text-align: center;
    font: bold 17px Tahoma;
    width: 160px;
    height: 50px;
    border-radius: 8px;
    margin-left: 425px;
}
#rgbBut {
    background-color: orange;
    color: black;
    text-align: center;
    font: bold 17px Tahoma;
    width: 120px;
    height: 50px;
    border-radius: 8px;
    margin-left: 30px;
}
#homeBut {
    background-color: orange;
    color: black;
    text-align: center;
    font: bold 17px Tahoma;
    width: 100px;
    height: 60px;
    border-radius: 8px;
    margin-left: -400px;
}
#home {
    width: 80px;
    height: 50px;
}
/* Diseño de la explicación de los controles de R, G y B. */
#explainR {
    text-align: center;
    font: bold 20px Tahoma;
    color: red;
    margin-left: 370px;
    margin-right: -370px;
}
#explainG {
    text-align: center;
    font: bold 20px Tahoma;
    color: lawngreen;
    margin-left: 370px;
    margin-right: -370px;
}
#explainB {
    text-align: center;
    font: bold 20px Tahoma;
    color: blue;
    margin-left: 370px;
    margin-right: -370px;
}
/* Diseño de los controles de R, G y B. */
#red {
    width: 400px;
    height: 10px;
    margin-top: 20px;
}
#green {
    width: 400px;
    height: 10px;
    margin-top: 10px;
}
#blue {
    width: 400px;
    height: 10px;
    margin-top: 5px;
}
/* Diseño del display de los controles de R, G y B. */
#displayRed {
    font: bold 20px Tahoma;
    color: black;
}
#displayGreen {
    font: bold 20px Tahoma;
    color: black;
}
#displayBlue {
    font: bold 20px Tahoma;
    color: black;
}
/* Diseño de la explicación de "Más ajustes". */
#ajustes2 {
    text-align: center;
    font: bold 25px Tahoma;
    color: black;
    margin-left: 390px;
    margin-right: -390px;
    margin-top: 35px;
}
#rotatBut {
    background-color: orange;
    color: black;
    text-align: center;
    font: bold 17px Tahoma;
    width: 225px;
    height: 50px;
    border-radius: 8px;
    margin-left: 425px;
    margin-right: -425px;
}
#especBut {
    background-color: orange;
    color: black;
    text-align: center;
    font: bold 17px Tahoma;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    margin-left: 115px;
}