/* Diseño del fondo de la P5 con una imagen. */
body {
    background-image: url('fondo.jpeg');
    background-size: cover;
    position: absolute;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1500px;
}
/* Diseño del icono o favicon de la pestaña del Realizador de TV. */
#icon {
    width: 187px;
    height: 199px;
}
/* Diseño del título de la pestaña del Realizador de TV. */
#titleCab {
    text-align: left;
    font-size: 25px;
    font-style: bold;
}
/* Diseño del logo del Realizador de TV en pag HTML. */
#logo {
    width: 187px;
    height: 199px;
}
/* Diseño del título del Realizador de TV: Férez World TV. */
h1 {
    text-align: center;
    font: bold 80px Tahoma;
    color:rgb(139, 9, 9);
}
/* Diseño del subtítulo del Realizador de TV: Férez World TV. */
#subtitle {
    text-align: center;
    font: bold 40px Tahoma;
    color:rgb(139, 9, 9);
}
/* Diseño del título de la emisión en directo del Realizador de TV: Férez World TV. */
#title1 {
    text-align: center;
    font: bold 30px Tahoma;
    color: black;
    margin-bottom: 10px;
}
/* Diseño del vídeo en directo del Realizador de TV: Férez World TV. */
#videoDirecto {
    border-color: goldenrod;
    border-width: 6px;
    border-style: solid;
    border-radius: 12px;
    /* Para centrar el vídeo en directo/principal. */
    margin-left: 350px;
    margin-right: auto;
    display: block;
    width: 640;
    height: 360;
}
/* Diseño del título del panel de control del Realizador de TV: Férez World TV. */
#title2 {
    text-align: center;
    font: bold 40px Tahoma;
    color: black;
    margin-top: 70px;
    margin-bottom: 20px;
}
/* Diseño del panel de control del Realizador de TV: Férez World TV. */
#panelControl {
    background-color: grey;
    border-color: black;
    border-width: 8px;
    border-style: solid;
    /* Para centrar el panel de control. */
    padding-left: 0;
    padding-right: 0;
    margin-left: 280px;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 270px;
}
/* Diseño del volumen deslizante. */
#volumen {
    width: 320px;
    height: 10px;
}
/* Diseño del mensaje del volumen. */
#msg_volum {
    font: bold 25px Tahoma;
    color: rgb(139, 9, 9);
    margin-left: 50px;
}
/* Diseño del display del volumen. */
#displayDesliza {
    font: bold 25px Tahoma;
    color: rgb(139, 9, 9);
    margin-left: 10px;
}
/* Diseño de los botones del Realizador de TV: Férez World TV. */
button {
    background-color: wheat;
    color: rgb(139, 9, 9);
    text-align: center;
    font: bold 25px Tahoma;
    border-color: rgb(139, 9, 9);
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    /* Para centrar los botones. */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 180px;
    height: 70px;
}
/* Diseño de la 1º fila de los botones del Realizador de TV: Férez World TV. */
.fila1 {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font: bold 27px Tahoma;
}
/* Diseño de la columna del botón de la Cámara de TV en OFF. */
#camOFF {
    font: bold 25px Tahoma;
    margin-left: -125px;
}
/* Diseño de la columna del botón del canal series. */
#Cam3 {
    margin-left: -125px;
}
/* Diseño de la columna del botón de la Imagen estática. */
#imgStatic {
    margin-left: 10px;
}
/* Diseño de la 2º fila de los botones del Realizador de TV: Férez World TV. */
.fila2 {
    margin-bottom: 10px;
    margin-left: 10px;
}
/* Formato de los vídeos muestra, para que el usuario pueda, primero ver y, luego, elegir. */
#videoCam1 {
    margin-left: 15px;
    margin-bottom: 50px;
}
#videoCam2 {
    margin-left: 10px;
    margin-bottom: 50px;
}
#videoCam3 {
    margin-left: 10px;
    margin-bottom: 50px;
}
/* Formato de los títulos de los vídeos muestra. */
.other {
    color: black;
    text-align: center;
    font: bold 20px Tahoma;
    margin-bottom: 10px;
    margin-top: 100px;
}