/* Color del fondo del documento HTML. */
body {
    background-color: sandybrown;
}

/* Formato del encabezado principal. */
h2 {
    color: red;
    margin-left: 250px;
}

/* Formato del botón. */
#Print {
    color: blue;
    margin-left: 250px;
    bottom: 200px;
    border-bottom-color: cornsilk;
}